footer {
    grid-area: footer;
    display: grid;
    padding: 5px;
    grid-template-areas: "footerlogo footernav contact";
    background-color: #495e57;
}

#footernav, #contact {
    color: white;
}

#footernav h5, #contact h5 {
    font: 16pt 'Markazi Text' bold;
}

#footernav ul, #contact ul {
    list-style: none;
    font: 16pt Karla;
}

#footerlogo {
    height: 80px;
}

#footernav a {
    text-decoration: none;
    color: white;
}