nav {
    grid-area: nav;
    padding: 5px;
}

#navigator {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

#navigator li {
    list-style: none;
    font-family: 'Markazi Text';
    font-size: 16pt;
    font-weight: 600;
}

#navigator a:hover {
    font-size: 18pt;
    transition: 0.3s;
    border-bottom: 1px black solid;
    color: rgb(240, 176, 93);
}

#navigator a {
    text-decoration: none;
    color: black;
}